.well {
  position: relative;
  background-color: beige;
  margin: 150px auto auto auto;
  padding: 25px;
  padding-bottom: 25px;
  width: 500px;
  height: auto;
  
  word-wrap: break-word;
}
.bgColor {
  background-color: gray;
}
body{
  background-color: gray;
}
.textColor {
  color: gray;
}
.myBorder {
  border: 1px solid honeydew;
}
#quote {
  text-align: center;
}
#origin {
  text-align: right;
}
#btn2 {
  float: right;
}
button:hover {
  color: lightgray;
}